body {

color: #132238;
background-color: ##f9f9f9;
font-family: acumin-pro, sans-serif;
font-weight: 200;
font-style: normal;
}
/*width of viewport*/
div {

width: 100vw;

}

/*navbar links*/
a {
  text-decoration: none;
  color: #364E68;
}
/*change color of link hover in navbar*/
a:hover {
  color: #A0A0A0;
  text-decoration: none!important;
}

/*instagram icon*/
[id="insta"] {
  float: right;
  margin-right: 20px;
  size: 10em;
}

/*id=1 is Header 1*/
[id="1"] {
text-align: center;
font-family: servus-slab, serif;
font-weight: 300;
font-style: normal;
margin-top: 10px;
}

/*id=2 is navbar links*/
[id="2"] {
  text-align: center;
  word-spacing: 15px
}

h1 {

margin-bottom: 5px;
color: #132238;
font-size: 1.7em;
font-weight: 200;
font-style: normal;

}

/*horizontal line under Header 1*/
hr {
  width: 200px;
  color: #98ccd3;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


h2 {

color: #132238;
font-size: 1em;
font-weight: 300;
font-style: normal;
margin-top: 5px;
margin-bottom: 5px;

}
img {

display: flex;
margin: 0;
width: 100vw;
height: auto;
padding-top: 10px;
padding-bottom: 20px;
}

h3, p {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#box-1, #box-2, #box-3 {
  border: 2px solid #888;
  padding: 20px;
  color: #444;
  font-size: 20px;
  text-align: center;
}

/*Testing mobile capability*/

#top {
  padding: 20px 0;
  display: flex;
}

#top h1 {
  display: inline;
  margin-right: 5px;
}

#top_text {
  flex-grow: 1;
}

#display_width {
  color: #e26;
}

.xs-size {
  font-size: 28px;
}
.sm-size {
  font-size: 36px;
}
.md-size {
  font-size: 48px;
}
.lg-size {
  font-size: 60px;
}
.xl-size {
  font-size: 72px;
}

#display_size {
  height: fit-content;
  align-self: center;
  color: #333;
  background-color: #f0f0f0;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#display_size.xs-size {
  margin-right: 5px;
}
#display_size.lg-size {
  padding: 6px 24px;
}
#display_size.xl-size {
  padding: 6px 32px;
}

.row {
  margin-bottom: 15px;
}

#box-1, #box-2, #box-3 {
  border: 2px solid #888;
  padding: 20px;
  color: #444;
  font-size: 20px;
  text-align: center;
}

#box-1 {
  background-color: #f88;
  border-color: #a00;
}
#box-2 {
  background-color: #fc8;
  border-color: #a60;
}
#box-3 {
  background-color: #ff8;
  border-color: #aa0;
}
