body {

color: #132238;
background-color: ##f9f9f9;
font-family: acumin-pro, sans-serif;
font-weight: 200;
font-style: normal;
}
/*width of viewport*/
div {

width: 100vw;

}

/*navbar links*/
a {
  text-decoration: none;
  color: #364E68;
}
/*change color of link hover in navbar*/
a:hover {
  color: #A0A0A0;
  text-decoration: none!important;
}

/*instagram icon*/
[id="insta"] {
  float: right;
  margin-right: 20px;
  size: 10em;
}

/*id=1 is Header 1*/
[id="1"] {
text-align: center;
font-family: servus-slab, serif;
font-weight: 300;
font-style: normal;
margin-top: 10px;
}

/*id=2 is navbar links*/
[id="2"] {
  text-align: center;
  word-spacing: 15px
}

h1 {

margin-bottom: 5px;
color: #132238;
font-size: 1.7em;
font-weight: 200;
font-style: normal;

}

/*horizontal line under Header 1*/
hr {
  width: 200px;
  color: #98ccd3;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


h2 {

color: #132238;
font-size: 1em;
font-weight: 300;
font-style: normal;
margin-top: 5px;
margin-bottom: 5px;

}
img {

display: flex;
margin: 0;
width: 100vw;
height: auto;
padding-top: 10px;
padding-bottom: 20px;
}

h3, p {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#box-1, #box-2, #box-3 {
  border: 2px solid #888;
  padding: 20px;
  color: #444;
  font-size: 20px;
  text-align: center;
}
